@tailwind base;

@tailwind components;

@tailwind utilities;

pre {
  white-space: pre-wrap;
  width: 100%;
  height: 100%;
  overflow: auto;
}

a {
  color: #000;
}

.bg-gray {
  background-color: #f1eeee;
}

.bg-teal {
  background-color: #80f5ed;
}

.bg-neu-1 {
  background: #cccccc;
}

.bg-neu-2 {
  background: #eec945;
}

.dialog-bg-gray {
  background-color: #f2f2f2;
}

.h-72 {
  height: 18rem;
}
.sm\:h-72 {
  height: 18rem;
}
.md\:h-72 {
  height: 18rem;
}
.lg\:h-72 {
  height: 18rem;
}
.xl\:h-72 {
  height: 18rem;
}

.h-84 {
  height: 21rem;
}
.sm\:h-84 {
  height: 21rem;
}
.md\:h-84 {
  height: 21rem;
}
.lg\:h-84 {
  height: 21rem;
}
.xl\:h-84 {
  height: 21rem;
}

.h-96 {
  height: 24rem;
}
.sm\:h-96 {
  height: 24rem;
}
.md\:h-96 {
  height: 24rem;
}
.lg\:h-96 {
  height: 24rem;
}
.xl\:h-96 {
  height: 24rem;
}

.text-stroke {
  color: #666;
  text-shadow: -1px -1px 0 #666, 1px -1px 0 #666, -1px 1px 0 #666, 1px 1px 0 #666;
}

.neu-1 {
  border-radius: 24px;
  background: #cccccc;
  box-shadow: -31px -31px 62px #aaaaaa, 31px 31px 62px #eeeeee;
}

.neu-2 {
  border-radius: 53px;
  background: #eec945;
  box-shadow: -5px -5px 10px #caab3b, 5px 5px 10px #ffe74f;
}

.font-mont {
  font-family: "Montserrat", sans-serif;
}

.font-noto {
  font-family: "Noto Sans KR", sans-serif;
}

.text-2xs {
  font-size: 0.5rem;
}

.text-3xs {
  font-size: 0.25rem;
}

.border-1 {
  border-width: 1px;
}

.w-14 {
  width: 3.5rem;
}

.w-18 {
  width: 4.5rem;
}

.w-22 {
  width: 5.5rem;
}

.w-26 {
  width: 6.5rem;
}

.w-28 {
  width: 7rem;
}

.w-30 {
  width: 7.5rem;
}

.w-72 {
  width: 18rem;
}

.w-80 {
  width: 20rem;
}

.w-88 {
  width: 22rem;
}

.w-96 {
  width: 24rem;
}

.w-100 {
  width: 25rem;
}

.w-110 {
  width: 27.5rem;
}

.w-120 {
  width: 30rem;
}

.w-130 {
  width: 32.5rem;
}

.w-140 {
  width: 35rem;
}

.w-150 {
  width: 37.5rem;
}

.w-160 {
  width: 40rem;
}

.w-170 {
  width: 42.5rem;
}

.w-180 {
  width: 45rem;
}

.w-190 {
  width: 47.5rem;
}

.w-200 {
  width: 50rem;
}

.w-1\/10 {
  width: 10%;
}

.flex-row-left {
  @apply flex;
  @apply flex-row;
  @apply flex-wrap;
  @apply items-center;
  @apply justify-start;
}

.flex-row-top {
  @apply flex;
  @apply flex-row;
  @apply flex-wrap;
  @apply items-start;
  @apply justify-start;
}

.flex-col-left {
  @apply flex;
  @apply flex-col;
}

.flex-row-center {
  @apply flex;
  @apply flex-row;
  @apply flex-wrap;
  @apply items-center;
  @apply justify-center;
}

.flex-col-center {
  @apply flex;
  @apply flex-col;
  @apply flex-wrap;
  @apply items-center;
  @apply justify-center;
}

.flex-center {
  @apply flex;
  @apply items-center;
  @apply justify-center;
}

.border-left-width-1 {
  border-left-width: 1px;
}
.border-right-width-1 {
  border-right-width: 1px;
}

.border-top-width-1 {
  border-top-width: 1px;
}

.border-bottom-width-1 {
  border-bottom-width: 1px;
}

.border-gray {
  border-color: #f1eeee;
}

.height-1 {
  height: 1px;
}

.height-2 {
  height: 2px;
}

.height-100 {
  height: 100px;
}

.title-font {
  font-size: 35px;
}

.img-sns {
  width: 32px;
}

.img-sns-mobile {
  width: 50px;
}

.img-logo {
  width: 110px;
}

.menu-lang {
  width: 80px;
  height: 25px;
}

.min-content-height {
  height: 70vh;
}

.content-title {
  @apply font-mont;
  @apply font-bold;
  font-size: 16px;
}

.order-complete-title {
  @apply font-mont;
  @apply font-bold;
  font-size: 20px;
}

.header-title {
  font-size: 27px;
}

.header-title-mini {
  font-size: 12px;
}

.text-bold-50 {
  @apply font-mont;
  @apply font-bold;
  font-size: 35px;
}

.text-semibold-30 {
  @apply font-mont;
  @apply font-semibold;
  font-size: 21px;
}

.text-bold-tight-27 {
  @apply font-mont;
  @apply font-bold;
  font-size: 19px;
  @apply tracking-tight;
}

.text-normal-tight-22 {
  @apply font-mont;
  @apply font-normal;
  font-size: 15.4px;
  @apply tracking-tight;
}

.text-normal-bold-tight-22 {
  @apply font-mont;
  @apply font-bold;
  font-size: 15.4px;
  @apply tracking-tight;
}

.text-bold-20 {
  @apply font-mont;
  @apply font-bold;
  font-size: 14px;
  @apply tracking-tight;
}

.text-bold-tight-20 {
  @apply font-mont;
  @apply font-bold;
  font-size: 14px;
  @apply tracking-tight;
}

.text-normal-tight-20 {
  @apply font-mont;
  @apply font-normal;
  font-size: 14px;
  @apply tracking-tight;
}

.text-normal-17 {
  @apply font-mont;
  @apply font-normal;
  font-size: 12px;
}

.text-normal-tight-17 {
  @apply font-mont;
  @apply font-normal;
  font-size: 12px;
  @apply tracking-tight;
}

.text-medium-15 {
  @apply font-mont;
  @apply font-medium;
  font-size: 11px;
}

.text-medium-tight-15 {
  @apply font-mont;
  @apply font-medium;
  font-size: 11px;
  @apply tracking-tight;
}

.text-medium-kr-15 {
  @apply font-noto;
  @apply font-medium;
  font-size: 11px;
}

.text-medium-tight-kr-15 {
  @apply font-noto;
  @apply font-medium;
  font-size: 11px;
  @apply tracking-tight;
}

.text-bold-15 {
  @apply font-mont;
  @apply font-bold;
  font-size: 11px;
}

.text-bold-tight-15 {
  @apply font-mont;
  @apply font-bold;
  font-size: 11px;
  @apply tracking-tight;
}

.text-bold-kr-15 {
  @apply font-noto;
  @apply font-bold;
  font-size: 11px;
}

.text-bold-tight-kr-15 {
  @apply font-mont;
  @apply font-bold;
  font-size: 11px;
  @apply tracking-tight;
}

.text-normal-15 {
  @apply font-mont;
  @apply font-normal;
  font-size: 11px;
}

.text-bold-13 {
  @apply font-mont;
  @apply font-bold;
  font-size: 9px;
}

.text-medium-13 {
  @apply font-mont;
  @apply font-medium;
  font-size: 9px;
}

.text-normal-tight-15 {
  @apply font-mont;
  @apply font-normal;
  font-size: 11px;
  @apply tracking-tight;
}

.text-normal-tight-16 {
  @apply font-mont;
  @apply font-normal;
  font-size: 11.5px;
  @apply tracking-tight;
}

.text-normal-13 {
  @apply font-mont;
  @apply font-normal;
  font-size: 9.1px;
}

.text-normal-tight-13 {
  @apply font-mont;
  @apply font-normal;
  font-size: 9.1px;
  @apply tracking-tight;
}

.text-normal-12 {
  @apply font-mont;
  @apply font-normal;
  font-size: 8.4px;
}

.text-normal-tight-10 {
  @apply font-mont;
  @apply font-normal;
  font-size: 7px;
  @apply tracking-tight;
}

.table-header {
  font-size: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
  @apply font-noto;
  @apply font-normal;
  @apply tracking-wide;
}

.table-header-bold {
  font-size: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
  @apply font-noto;
  @apply font-bold;
  @apply tracking-wide;
}

.dialog-header-bold {
  font-size: 14px;
  @apply font-noto;
  @apply font-bold;
  @apply tracking-wide;
}

.table-text {
  font-size: 11px;
  margin-top: 5px;
  margin-bottom: 5px;
  @apply font-noto;
  @apply font-normal;
  @apply tracking-wide;
}

.table-text-bold {
  font-size: 11px;
  margin-top: 5px;
  margin-bottom: 5px;
  @apply font-noto;
  @apply font-bold;
  @apply tracking-wide;
}

.normal-text {
  font-size: 11px;
  @apply font-noto;
  @apply font-normal;
  @apply tracking-wide;
}

.btn-big-text {
  @apply font-mont;
  @apply flex-col-center;
  @apply text-white;
  @apply bg-black;
  @apply w-full;
  @apply font-normal;
  @apply tracking-tight;
  height: 44px;
  font-size: 14px;
}

.btn-big-w80p-text {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #000;
  width: 80%;
  font-weight: 400;
  letter-spacing: -0.025em;
  height: 44px;
  font-size: 14px;
}

.left-menu-text {
  font-size: 10px;
}

.btn-text {
  font-size: 12px;
}

.grayline {
  background-color: #d0d0d0;
  height: 1px;
  width: 100%;
  opacity: 0.5;
}

.grayline2 {
  background-color: #d0d0d0;
  height: 2px;
  width: 100%;
}

.blackline {
  @apply bg-black;
  height: 1px;
  width: 100%;
}

.blackline2 {
  @apply bg-black;
  height: 2px;
  width: 100%;
}

.img-zoom {
  padding: 50px;
  background-color: transparent;
  transition: transform 0.2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.img-zoom:hover {
  transform: scale(1.5);
}
